
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 40px;
}

/* header*/
.header{
    background-image: url('../Assets/Hero-bg.png');
}

/* shared style */
.nav-logo{
    color: #4E47FF;
}

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 5px;
    font-size: 16px;
    border: none;

}



/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
nav li{
    list-style: none;
    padding-top: 0px;
}
/* banner style */
.banner-title{
    color: #252432;
    font-size: 65px;
    font-weight: bold;
    padding-bottom: 37px;
}
.my-btn{
    display: block;
    margin: 0 auto;

}

.banner{
    max-width: 905px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 152px;
}
/* main*/
.bn-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    padding-bottom: 23px;
}
.p-title{
    font-weight: normal;
    font-size: 24px;
    color: #252432;
    padding-bottom: 23px;
}
.main{
    display: flex;
    justify-content: space-between;
    padding: 116px 141px;
}
.main-conten{
    width: 517px;
}

.section-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    padding: 50px 142px;
    text-align: center;
}
.secondary-bg{
    background-color: #E5E7FF;
}
/* joined style */
.joined{
    border-radius: 10px;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
.item-description{
    font-size: 20px;
    color: #72737F;
}
.item-title{
    color: #4E47FF;
}
.joined-items{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
.section2-title{
    font-size: 50px;
    font-weight: bold;
}
.section2-description{
    font-size: 18px;
    color: #72737F;
}
.Ready{
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
    border-radius: 10px;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 71px 150px;
   
}
.section2-img{
    border-radius: 40px;
    width: 840px;
   
}
.btn{
    margin-bottom: 20px;
}